html{
  --primary:#00A389;
  --secondary:rgb(0, 163, 137, .6);
  --warning:#F0B86E;
  --danger:#BB2525;
  --success:#A8DF8E;

  --body-bg-color:#F5F5F5;
  --main-container-color:#FFFFFF;
  --nav-bar-bg-color:#F2F2F2;
  --room-list-bg-color:#FFFFFF;
  --room-border-color:#E9E9E9;
  --room-bg-color:#F2F2F2;
  --item-hover-color:#F5F5F5;
  --item-active-color:#00A389;

  --text-color-primary:var(--el-text-color-primary);
  --text-color-regular:var(--el-text-color-regular);
  --text-color-econdary:var(--el-text-color-econdary);
  --text-color-placeholder:var(--el-text-color-placeholder);
  --text-color-disabled:var(--el-text-color-disabled);

  --message-bg-color:#FFFFFF;
  --message-title-text-color:#000000;
  --message-description-text-color:#808080;

  --friend-apply-item-bg-color:#FFFFFF;

  --input-bg-color:#F5F5F5;
  --button-bg-color:#F5F5F5;
}
